%h1 Welcome to ClickSwapper!

%p Thank you for signing up!  We are so glad you are interested in what we are doing!

%p We are currently working on launching ClickSwapper, and will keep you updated on our progress.

%p We would love to get your feedback and ideas on what you want from the site!

%p To give feedback just respond to this email or email feedback@clickswapper.com!
