/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flat-ui
*/

@import "bootstrap";
body{padding: 30px 0;}
//@import "bootstrap-responsive";

select{
	height: 41px;
}

a { color: inherit; }

html, body{
  background-color: #333;
}

.light{
  background-color: #fff;
  color: #111;
}

.dark{
  background-color: #333;
  color: #fff;
}

#headline{
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;
}

.btn-submit{
	height: 41px;
	padding-top: 11px;
}


.container-narrow{
  position: relative;
  z-index: 100;
  background-color: #fff;
  padding: 40px 30px;
	max-width: 650px;
	margin: 0 auto;
  border-radius: 15px;
}

.logo-brand{
	text-align: center;
}

.marketing-section{
	margin-top: 50px;
}

.apply{
	margin-top: 25px;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}